
// app global css in SCSS form
h1, h2, h3, h4 {
    line-height: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.horizontal-center {
    justify-content: center;
}

